<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>実績データ一覧</title>
    <link rel="stylesheet" href="../static/css/style.css"
          th:href="@{/css/style.css}">
</head>
<body>

<h1>&nbsp;&nbsp;実績データ一覧</h1>

<table>
    <tr>
        <th>ID</th>
        <th>ユーザID</th>
        <th>ユーザ名</th>
        <th>楽曲コード</th>
        <th>楽曲名</th>
        <th>金額</th>
        <th>利用日</th>
    </tr>

    <!--/* TODO 3-24 顧客一覧画面を確認する（変更不要） */-->

    <tr th:each="tuseresult : ${tuseresults}" th:object="${tuseresult}">
        <td>
        	<a href="updateMain.html"
          th:href="@{|/tuseresult/updateMain/*{useResultId}|}"
          th:text="*{useResultId}">1</a></td>
        <td th:text="*{user.userId}">111</td>
        <td th:text="*{user.userName}">Taro</td>
        <td th:text="*{music.musicCd}">123</td>
        <td th:text="*{music.musicName}">川の流れのように</td>
        <td th:text="*{amount}">1234</td>
        <td th:text="*{#temporals.format(useDate, 'uuuu-MM-dd')}">2000-01-01</td>
    </tr>
    <!--/*-->
    <tr>
        <td>2</td>
        <td>123</td>
        <td>Suzuki</td>
        <td>124</td>
        <td>勝手にシンドバッド</td>
        <td>1023</td>
        <td>2000-01-02</td>
    </tr>
    <tr>
        <td>3</td>
        <td>123</td>
        <td>Suzuki</td>
        <td>125</td>
        <td>北の宿</td>
        <td>1125</td>
        <td>2011-11-12</td>
    </tr>
    <!--*/-->
</table>
<form th:action="@{/tuseresult/insertMain}" action="insertMain.html" method="get">
    <input type="submit" value="新規登録">
</form>

<a href="../index.html" th:href="@{/}">メニューに戻る</a>

</body>
</html>