<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" href="../static/css/style.css"
          th:href="@{/css/style.css}">
</head>
<body>

<!--/* TODO 3-25 新規追加画面を確認する（変更不要） */-->

<h1>新規追加</h1>
<a href="index.html" th:href="@{/tuseresult/index}">実績一覧へ</a>
<form method="post" action="index.html" th:action="@{insertComplete}" th:object="${tUseResultForm}">
    <table border="1">
        <tr>
            <th>ID</th>
            <td>(自動採番されます)</td>
        </tr>
        <tr>
            <th>ユーザID</th>
            <td>
                <input type="text" name="userCd" th:field="*{userCd}" placeholder="3文字以内">
                <div th:if="${#fields.hasErrors('userCd')}" th:errors="*{userCd}" class="error"></div>
            </td>
        </tr>
        <tr>
            <th>楽曲コード</th>
            <td>
                <input type="text" name="musicCd" th:field="*{musicCd}" placeholder="3文字以内">
                <div th:if="${#fields.hasErrors('musicCd')}" th:errors="*{musicCd}" class="error"></div>
            </td>
        </tr>
        <tr>
            <th>金額</th>
            <td>
                <input type="text" name="amount" th:field="*{amount}" placeholder="99999以内">
                <div th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="error"></div>
            </td>
        </tr>
        <tr>
            <th>利用日</th>
            <td>
                <input type="date" name="useDate" th:field="*{useDate}" placeholder="uuuu-MM-dd">
                <div th:if="${#fields.hasErrors('useDate')}" th:errors="*{useDate}" class="error"></div>
            </td>
        </tr>
        <tr>
            <th>利用場所</th>
            <td>
                <input type="date" name="usePlace" th:field="*{usePlace}" placeholder="20文字以内">
                <div th:if="${#fields.hasErrors('usePlace')}" th:errors="*{usePlace}" class="error"></div>
            </td>
        </tr>
    </table>
    <input type="submit" value="登録">
</form>

</body>
</html>