<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>メニュー</title>
    <link rel="stylesheet" href="../static/css/style.css"
          th:href="@{/css/style.css}">
</head>
<body>

<h1>&nbsp;&nbsp;メニュー</h1>

<table class="noborder">
	<tr>
		<td class="noborder">
			<a href="tuseresult/index.html" th:href="@{/tuseresult/index}">〇　実績データ</a>
		</td>
	</tr>
	<tr>
		<td class="noborder">
			<a href="mmusic/index.html" th:href="@{/mmusic/index}">〇　楽曲データ</a>
		</td>
	</tr>
</table>

</body>
</html>